<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
<title>Prohlížeč sémantického slovníku pojmů</title>

<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="bower_components/sparql-faceter/dist/semantic-faceted-search.css">
</head>

<body>

<div ng-app="facetApp">
  <div class="container-fluid" ng-controller="MainController as vm">
    <div class="row">
      <div class="col-md-12">
        <h1>{{vm.i18n('prohlizec-semantickeho-slovniku-pojmu')}}</h1>
        <div ng-if="vm.error">
          <uib-alert type="danger">{{ vm.error }}</uib-alert>
        </div>
        <div>
          <a id="cs" href ng-click="vm.setLang('cs')">cs</a>-
          <a id="en" href ng-click="vm.setLang('en')">en</a>
          ({{vm.lang}})
        </div>
        </div>
      </div
    </div>
    <div class="row">
      <div class="col-md-3">
        <!-- Facets are defined here using the configurations defined in the controller -->
        <seco-text-facet data-options="vm.facets.pojem"></seco-text-facet>
        <seco-basic-facet data-options="vm.facets.glosar"></seco-basic-facet>
        <seco-basic-facet data-options="vm.facets.typ"></seco-basic-facet>
      </div>
      <!-- Results view -->
      <div class="col-md-9">
        <img src="images/loading-lg.gif" ng-show="vm.isLoadingResults" />
        <table class="table">
          <thead>
            <tr>
              <th>{{vm.i18n('pojem')}}</th>
              <th>{{vm.i18n('informace')}}</th>
              <th>{{vm.i18n('glosar')}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pojem in vm.page">              
              <td style="width:20%">
                <p ng-if="pojem">
                  <a ng-href="{{ pojem.id }}">{{ getLabel(pojem) }}</a> 
                </p>             
              </td>
              <td style="width:50%">

                <p ng-if="pojem.nadtyp">
                {{vm.i18n('je-specializaci')}} <span ng-repeat="nadtyp in (isArray(pojem.nadtyp) ? pojem.nadtyp : [pojem.nadtyp])"><a ng-href="{{ nadtyp.id }}">{{ getLabel(nadtyp)}}</a><span ng-if="!$last">,&nbsp;</span></span></p>

                <p ng-if="pojem.typ">
                {{vm.i18n('je-instanci-typu')}} <span ng-repeat="typ in (isArray(pojem.typ) ? pojem.typ : [pojem.typ])"><a ng-href="{{ typ.id }}">{{ getLabel(typ)}}</a><span ng-if="!$last">,&nbsp;</span></span>
                </p>

                <p ng-if="pojem.definice" style="font-style:italic">
                ☛ {{pojem.definice}}
                </p>

                </p>

                <p ng-if="pojem.typvlastnosti">
                  {{vm.i18n('ma-vlastnosti-typu')}}}
                 	<ul ng-if="pojem.typvlastnosti">
              			<li ng-repeat="typvlastnosti in vm.makeArray(pojem.typvlastnosti)">
            			    <a ng-href="{{ typvlastnosti.id }}">{{ getLabel(typvlastnosti) }}</a>
              			</li>
            			</ul>
                </p>

            		<p ng-if="pojem.typvztahu">
                  {{vm.i18n('ma-vztahy-typu')}}
                 	<ul ng-if="pojem.typvztahu">
              			<li ng-repeat="typvztahu in vm.makeArray(pojem.typvztahu)">
            			    <a ng-href="{{ typvztahu.id }}">{{ getLabel(typvztahu) }}</a>
              			</li>
              		</ul>
                </p>
              </td>
              <td>
                 <a ng-href="{{ pojem.glosar.id }}">{{ getLabel(pojem.glosar) }}</a>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Pagination -->
        <uib-pagination
          class="pagination-sm"
          max-size="10"
          boundary-links="true"
          rotate="false"
          total-items="vm.totalCount"
          ng-model="vm.pageNo"
          ng-disabled="vm.isLoadingResults"
          ng-change="vm.getPage()">
        </uib-pagination>
      </div>
    </div>
  </div>
</div>

<div id="footer"></div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/lodash/dist/lodash.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/checklist-model/checklist-model.js"></script>
<script src="bower_components/angular-spinner/dist/angular-spinner.min.js"></script>
<script src="bower_components/angular-paging-sparql-service/dist/sparql-service.js"></script>
<script src="bower_components/sparql-faceter/dist/semantic-faceted-search.js"></script>
<script src="bower_components/chart.js/dist/Chart.min.js"></script>
<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>

<script src="service.js"></script>
<script src="controller.js"></script>
</body>
</html>
