<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
<title>Sémantický slovník pojmů</title>

<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="bower_components/sparql-faceter/dist/semantic-faceted-search.css">
</head>

<body>

<div id="nav"></div>

<div ng-app="facetApp">
  <div class="container-fluid" ng-controller="MainController as vm">
    <div class="row">
      <div class="col-md-12">
        <h1>Sémantický slovník pojmů</h1>
        <div ng-if="vm.error">
          <uib-alert type="danger">{{ vm.error }}</uib-alert>
        </div>
      </div
    </div>
    <div class="row">
      <div class="col-md-3">
        <!-- Facets are defined here using the configurations defined in the controller -->
        <seco-text-facet data-options="vm.facets.pojem"></seco-text-facet>
        <seco-basic-facet data-options="vm.facets.glosar"></seco-basic-facet>
        <seco-basic-facet data-options="vm.facets.typ"></seco-basic-facet>
      </div>

      <!-- Results view -->
      <div class="col-md-9">
        <img src="images/loading-lg.gif" ng-show="vm.isLoadingResults" />
        <table class="table">
          <thead>
            <tr>
              <th>Pojem</th>
              <th>Informace</th>
              <th>Glosář</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pojem in vm.page">
              <td style="width:20%">
                <a ng-href="{{ pojem.id }}">{{ pojem.nazev }}</a> 
              </td>
              <td style="width:50%">
                typ: <a ng-href="{{ pojem.typ.id }}">{{ pojem.typ.id }}</a> 
		<p ng-if="pojem.typ.id.includes('typ-objektu') && pojem.typvlastnosti">
		typy vlastností:
                 	<ul ng-if="pojem.typ.id.includes('typ-objektu') && pojem.typvlastnosti">
			<li ng-repeat="typvlastnosti in vm.makeArray(pojem.typvlastnosti)">
			    <a ng-href="{{ typvlastnosti.id }}">{{ typvlastnosti.nazev }}</a>
			</li>
			</ul></p>
		<p ng-if="pojem.typ.id.includes('typ-objektu') && pojem.typvztahu">
		typy vztahů:
                 	<ul ng-if="pojem.typ.id.includes('typ-objektu') && pojem.typvztahu">
			<li ng-repeat="typvztahu in vm.makeArray(pojem.typvztahu)">
			    <a ng-href="{{ typvztahu.id }}">{{ typvztahu.nazev }}</a>
			</li>
		</ul></p>
              </td>
              <td>
                 <a ng-href="{{ pojem.glosar.id }}">{{ pojem.glosar.nazev }}</a>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Pagination -->
        <uib-pagination
          class="pagination-sm"
          max-size="10"
          boundary-links="true"
          rotate="false"
          total-items="vm.totalCount"
          ng-model="vm.pageNo"
          ng-disabled="vm.isLoadingResults"
          ng-change="vm.getPage()">
        </uib-pagination>
      </div>
    </div>
  </div>
</div>

<div id="footer"></div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/lodash/dist/lodash.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/checklist-model/checklist-model.js"></script>
<script src="bower_components/angular-spinner/dist/angular-spinner.min.js"></script>
<script src="bower_components/angular-paging-sparql-service/dist/sparql-service.js"></script>
<script src="bower_components/sparql-faceter/dist/semantic-faceted-search.js"></script>
<script src="bower_components/chart.js/dist/Chart.min.js"></script>
<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>

<script src="service.js"></script>
<script src="controller.js"></script>
</body>
</html>
